<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="209715200" executionTimeout="36000" maxQueryStringLength="2097151" />
  </system.web>
	
  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxUrl="99999999" maxQueryString="999999999" maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
	
  </system.webServer>
	
</configuration>
